<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tag'em Quickly</title>

  <script
    src="/static/lib/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>

  <script
    src="/static/lib/jquery-ui-1.12.1.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>


  <link href="/static/lib/bootstrap-3.3.7.min.css" rel="stylesheet">
  <script
    src="/static/lib/bootstrap-3.3.7.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <link href="/static/style.css" rel="stylesheet">

</head>


<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Tag'em Quickly</a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" id="tag-list" />
        </div>
		<div class="row">
			<div class="col-md-12 session-thumbnails">
				<ol id="selectable">
					<p class="text-muted"><em>Click and drag to select images, command + click to select multiple single images.</em></p>
					{% for img in imgs %}
						<li class="thumbnail" id="{{ img['name'] }}">
							<img src="/imgs/{{ img['name'] }}" class="img-responsive">
							<div class="caption">
							</div>
						</li>
					{% end %}
				</ol>
			</div>
		</div>
	</div>

	<footer class='footer' >
		<div class="container-fluid">
			
			<div class="col-md-8">
				<nav aria-label="Page navigation">
					<ul class="pagination">
                        {% if pagination['skip_back_page'] %}
    						<li>
    							<a href="./{{pagination['skip_back_page']}}" aria-label="Previous">
    								<span aria-hidden="true">1</span>
    							</a>
    						</li>
    						<li>
    							<a href="./{{pagination['skip_back_page']}}" aria-label="Previous">
    								<span aria-hidden="true">&laquo;</span>
    							</a>
    						</li>
                        {% end %}
                        {% if not pagination['cur_page'] == 1 %}
    						<li>
    							<a href="./{{pagination['cur_page'] - 1}}" aria-label="Previous">
    								<span aria-hidden="true">&lsaquo;</span>
    							</a>
    						</li>
                        {% end %}

						{% for p in pagination['page_list'] %}
                            <li class="{{ 'bolder' if p == pagination['cur_page'] else ''}}"><a href="./{{p}}"> {{p}} </a></li>
						{% end %}

                        {% if not pagination['cur_page'] == pagination['total_pages'] %}
						<li>
							<a href="./{{pagination['cur_page'] + 1}}" aria-label="Next">
								<span aria-hidden="true">&rsaquo;</span>
							</a>
						</li>
                        {% end %}
                        {% if pagination['skip_ahead_page'] %}
						    <li>
						    	<a href="./{{pagination['skip_ahead_page']}}" aria-label="Previous">
						    		<span aria-hidden="true">&raquo;</span>
						    	</a>
						    </li>
    						<li>
                                <a href="./{{pagination['total_pages']}}" aria-label="Previous">
    								<span aria-hidden="true">{{pagination['total_pages']}}</span>
    							</a>
    						</li>
                        {% end %}
					</ul>
				</nav>
			</div>
            
			<div class="col-md-3 img-controls text-right">
				<input class="btn btn-default" type="button" value="Select All" id="select-all">
			</div>

	</footer>

<!-- Modal -->
<div class="modal fade" id="zoom-in-modal" tabindex="-1" role="dialog" aria-labelledby="zoom-in-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="zoom-in-modal-label">Zoom In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<div class="zoom-in-frame">
			<img id="zoom-in-img" class="large-img" />
		</div>
      </div>
    </div>
  </div>
</div>

</div>
	<script>
		$(document).ready(function() {
			
			$( "#selectable" ).selectable({
			  filter: 'li',
				stop: function() {
					$( "#select-result" ).text(function( index ) {
					  return $('.ui-selected').length;
					});
      	}
			});
			
			$('#select-all').on('click', function () {
			    $('.thumbnail').addClass('ui-selected');
			})

            $(document).keydown(function(e) {
                if (e.which == 32) {  // space key
                    toggleZoomIn();
	                e.preventDefault(); // prevent the default action (scroll / move caret)
                }

				if (e.ctrlKey) {
	                if (e.which >= 49 && e.which < 59) {  // Number key 1 - 9
	                    var i = e.which - 49;
	                    
	                    if (i >= all_tags.length) {
	                        return;
	                    }
	
	                    tagToggled(all_tags[i]);
	
	                    e.preventDefault(); // prevent the default action (scroll / move caret)
	                }
				}
            });
            loadTags();
		} );

var all_tags = [];

var tagToggled = function(tagName) {
    var targets = $('.ui-selected').toArray().map(function(el) {return el.id})
    //var verb = $(el).hasClass('active') ? 'DELETE' : 'PUT';  // class has not changed when onclick is called. So having 'active' means 'it's about to become inactive
    $.ajax({
        url: '/api/tags/' + tagName + '/',
        type: 'PUT',
        data: JSON.stringify({targets}),
	    contentType: "application/json; charset=utf-8",
	    dataType: "json",
        success: update_tags,
    })
}

var tagToBadge = function(tag) {
    return '<span class="badge badge-' + all_tags.indexOf(tag) + '">' + tag + '</span>';
}

var update_tags = function(result) {
    all_tags = result.all_tags;
    $('#tag-list').html(all_tags.map(tagToBadge));
    $('li.thumbnail.ui-selectee').each( function(_, el) {
        var tags = result.targets[el.id] || [];
        $(el).find('.caption').html(tags.map(tagToBadge));
    })
}

var loadTags = function() {
    $.ajax({
        url: "/api/tags/",
        type: 'GET',
	    dataType: "json",
        success: update_tags,
    });
}

var toggleZoomIn = function() {
    if ($('#zoom-in-modal').is(':visible')) {
        $('#zoom-in-modal').modal('hide');
        return;
    }

    var targets = $('.ui-selected').toArray().map(function(el) {return el.id})
	if (targets.length != 1) {
        return;
    }

    $('#zoom-in-img').attr('src', '/imgs/' + targets[0]);
    $('#zoom-in-modal-label').text(targets[0]);
    $('#zoom-in-modal').modal('show', {keyboard: true});
}
	</script>

</body>
</html>
