<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tag'em Quickly</title>

  <script
    src="/static/lib/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>

  <script
    src="/static/lib/jquery-ui-1.12.1.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>


  <script
    src="/static/lib/bootstrap-3.3.7.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <script src="/static/index.js" ></script>

  <link href="/static/lib/bootstrap-3.3.7.min.css" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">

</head>


<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Tag'em Quickly</a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" id="tag-list" />
        </div>
		<div class="row">
			<div class="col-md-12 thumbnails">
				<ol id="selectable">
					<p class="text-muted"><em>Click and drag to select images, command + click to select multiple single images.</em></p>
					{% for img in imgs %}
						<li class="thumbnail" id="{{ img['name'] }}">
							<img src="/imgs/{{ img['name'] }}" class="img-responsive">
							<div class="caption">
							</div>
						</li>
					{% end %}
				</ol>
			</div>
		</div>
	</div>

	<footer class='footer' >
		<div class="container-fluid">
			
			<div class="col-md-8">
				<nav aria-label="Page navigation">
					<ul class="pagination">
                        {% if pagination['skip_back_page'] %}
    						<li>
    							<a href="./{{pagination['skip_back_page']}}" aria-label="Previous">
    								<span aria-hidden="true">1</span>
    							</a>
    						</li>
    						<li>
    							<a href="./{{pagination['skip_back_page']}}" aria-label="Previous">
    								<span aria-hidden="true">&laquo;</span>
    							</a>
    						</li>
                        {% end %}
                        {% if not pagination['cur_page'] == 1 %}
    						<li>
    							<a href="./{{pagination['cur_page'] - 1}}" aria-label="Previous">
    								<span aria-hidden="true">&lsaquo;</span>
    							</a>
    						</li>
                        {% end %}

						{% for p in pagination['page_list'] %}
                            <li class="{{ 'bolder' if p == pagination['cur_page'] else ''}}"><a href="./{{p}}"> {{p}} </a></li>
						{% end %}

                        {% if not pagination['cur_page'] == pagination['total_pages'] %}
						<li>
							<a href="./{{pagination['cur_page'] + 1}}" aria-label="Next">
								<span aria-hidden="true">&rsaquo;</span>
							</a>
						</li>
                        {% end %}
                        {% if pagination['skip_ahead_page'] %}
						    <li>
						    	<a href="./{{pagination['skip_ahead_page']}}" aria-label="Previous">
						    		<span aria-hidden="true">&raquo;</span>
						    	</a>
						    </li>
    						<li>
                                <a href="./{{pagination['total_pages']}}" aria-label="Previous">
    								<span aria-hidden="true">{{pagination['total_pages']}}</span>
    							</a>
    						</li>
                        {% end %}
					</ul>
				</nav>
			</div>
            
			<div class="col-md-3 img-controls text-right">
				<input class="btn btn-default" type="button" value="Select All (Ctrl-A)" id="select-all">
			</div>

	</footer>

<!-- Modal -->
<div class="modal fade" id="zoom-in-modal" tabindex="-1" role="dialog" aria-labelledby="zoom-in-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="zoom-in-modal-label">Zoom In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<div class="zoom-in-frame">
			<img id="zoom-in-img" class="large-img" />
		</div>
      </div>
    </div>
  </div>
</div>

</div>

</body>
</html>
